<h1>Welcome to Forms Development Template Driven Form</h1>
<!-- 
<form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm.value)">
  User Name:
  <input
    type="text"
    required
    #uname="ngModel"
    placeholder="Enter Your Name"
    id="uname"
    name="uname"
    ngModel
  />
  <span *ngIf="uname.invalid && uname.touched" style="color: red"
    >Enter Valid Input...!</span
  >
  <br />
  Paswword :
  <input
    type="password"
    #password="ngModel"
    required
    minlength="2"
    name="password"
    id="password"
    ngModel
  />
  <span *ngIf="password.invalid && password.touched" style="color: red"
    >Enter Correct Password</span
  >
  <br />
  <button [disabled]="loginForm.invalid">Submit</button>
</form> -->

<form #loginForm="ngForm" (ngSubmit)="loginValid(loginForm.value)">
  User Name :
  <input
    type="text"
    #uname="ngModel"
    required
    id="uname"
    name="uname"
    ngModel
  />
  <span *ngIf="uname.invalid && uname.touched" style="color: red"
    >Enter Valid input</span
  >
  <br />
  <br />
  Password :
  <input
    type="password"
    #password="ngModel"
    maxlength="2"
    required
    id="password"
    name="password"
    ngModel
  />
  <span *ngIf="password.invalid && password.touched" style="color: red"
    >Please Enter Correct Password</span
  >
  <br />
  <br />
  <button [disabled]="loginForm.invalid">Submit</button>
</form>



<!-- important notes for achiving Tenplate driven form validation in angular -->

<!-- #password="ngModel"     giving this is imp for validation  -->

